h1 { color:rgb(40, 175, 175); }
p {
     color:beige;
     background-color: rgb(142, 117, 165);
}
h2 {color:red;}
#awesome {
    color: blue;
}
body {
    color:indigo;
    background-color: #dff4f9;
    }
body {
    font-family: "TImes New Roman", serif;
}
h1,h1 {
    font-family: Arial, sans-serif;
}



